@charset "utf-8";
/*==============================================

    ----------------------------------------------------------------
	* Date		:	2018.03.05
	* Modify		:   
	* Name		:	common.css
	----------------------------------------------------------------
	
	- Description -

	00. common		:	전체 공통사항
	01. layout			:	레이아웃
	02. table				:	테이블 요소
	03. button			:	버튼요소
	04. pop				:	팝업요소
	05. font				:	폰트
	06. icon				:	아이콘

==============================================*/


/* ===========================
	00. common
=========================== */

/* comm */
.invisible-all {position:absolute; left:-5000px; width:0; height:0; font-size:0; line-height:0; visibility:hidden; overflow:hidden; text-indent:-5000px;}
.invisible {display:none !important;}
.visible {display:block !important;}

.mt-15 {margin-top:-15px !important;}
.mt-20 {margin-top:-20px !important;}
.mt-50 {margin-top:-50px !important;}
.mt-70 {margin-top:-70px !important;}
.mt0 {margin-top:0 !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}
.mt55 {margin-top:55px !important;}
.mt60 {margin-top:60px !important;}
.mt70 {margin-top:70px !important;}
.mt80 {margin-top:80px !important;}
.mt90 {margin-top:90px !important;}
.mt100 {margin-top:100px !important;}
.mt110 {margin-top:110px !important;}
.mt130 {margin-top:130px !important;}
.mt140 {margin-top:140px !important;}

.ml10 {margin-left:10px !important;}
.ml20 {margin-left:20px !important;}

.mr10 {margin-right:10px !important;}
.mr20 {margin-right:20px !important;}
.mr30 {margin-right:30px !important;}

.pt30 {padding-top:30px !important;}

.w50 {width:50% !important;}
.w100 {width:100% !important;}

.al-l {text-align:left !important;}
.al-r {text-align:right !important;}
.al-c {text-align:center !important;}

.fl-l {float:left !important;}
.fl-r {float:right !important;}

.is-over-txt {display:inline-block; max-width:100%; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.comm-no-result {padding:100px 0; font-size:16px; text-align:center;}

.letter {letter-spacing:normal !important;}																									/* 자간 0 */
.under {text-decoration: underline !important;}																							/* 밑줄 */
html.fix {overflow-y:hidden;}																													/* 브라우저 스크롤 픽스 */
.d_t {display:table; width:100%; height:100%;}																								/* 테이블 컨텐츠 */
.d_t .d_c {display:table-cell; width:100%; vertical-align:middle;}																			/* 테이블 셀 컨텐츠*/

/*.inner {position:relative; width:1180px; margin:0 auto; box-sizing:border-box;}*/
#dimd {position:fixed; top:0; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.7); z-index:1001; display:none;}

body {background:#f7f7f7;}

/* ===========================
	01. layout
=========================== */
/* wrap */
#wrap {overflow:hidden;}

/* dHead */
#dHead {position:absolute; top:0; left:0; width:100%; height:56px; box-sizing:border-box; -webkit-transition: height 0.6s, background 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000); transition: height 0.6s, background 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000);}
#dHead.scroll .header-wrap {position:fixed; background-color:#b10a11 !important;}
#dHead.scroll .gnb-wrap > ul > li > a {color:#222;}
/*.main #dHead.scroll .header-wrap:after {width:0 !important;}*/
.main #dHead.scroll .header-wrap .global-menu li a {border-color:rgba(255,255,255,1) !important;}

#dHead.basic .header-wrap {background-color:#b10a11;}
#dHead.basic .gnb-wrap > ul > li > a {color:#222;}

#dHead.hover {height:540px; background-color:#f6f6f6;}

.header-wrap {position:relative; width:100%; height:56px; background-color:#b10a11; overflow:hidden; box-sizing: border-box; z-index:1000; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
.header-wrap h1 {position:absolute; top:50%; left:50%; width:70px; height:27px; transform:translate(-50%, -50%);}
.header-wrap h1 > a {position:absolute; top:0; left:0; display:block; width:100%; height:100%; font-size:0;}
.header-wrap h1 > a:before {content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:url('../../images/common/logo_white.png') left top no-repeat; background-size:70px auto;}
.header-wrap .btn-gnb {position:absolute; top:19px; left:15px; width:23px; height:19px; overflow:hidden;}
.header-wrap .btn-gnb span {display:block; position:absolute; left:0; height:2px; border-radius:2px; background-color:#fff; transition:all 0.2s cubic-bezier(.76,0,.4,1); -webkit-transition:all 0.2s cubic-bezier(.76,0,.4,1);}
.header-wrap .btn-gnb .line-01 {top:0; width:65%;}
.header-wrap .btn-gnb .line-02 {top:8px; width:100%; transition-duration:0.35s;}
.header-wrap .btn-gnb .line-03 {top:16px; width:85%; transition-duration:0.5s;}
/*.main .header-wrap {background-color:#000;}*/
.main .header-wrap {background-color:transparent;}
.main .header-wrap:after {content:''; display:block; position:absolute; bottom:0; left:0; width:100%; height:1px; background-color:rgba(255,255,255,0.2); transition:all 0.75s cubic-bezier(.76,0,.4,1); -webkit-transition:all 0.75s cubic-bezier(.76,0,.4,1);}
.main .header-wrap .global-menu li a {border-color:rgba(255,255,255,0.3);}

.gnb-wrap {position:fixed; top:0; left:0; width:100%; height:100%; padding-right:30px; z-index:1002; box-sizing:border-box; overflow:hidden; overflow-y:auto; transform:translateX(-100%); transition:all 0.3s cubic-bezier(.3,0,0,1); -webkit-transition:all 0.3s cubic-bezier(.3,0,0,1);}
.gnb-wrap > .inner {position:relative; min-height:100%; padding-bottom:80px; background-color:#fff; box-sizing:border-box; overflow:hidden;}
.gnb-wrap .top {height:56px; background-color:#b10a11;}
.gnb-wrap .top .btn-close {position:absolute; top:19px; left:15px; width:18px; height:18px;}
.gnb-wrap .top .btn-close span {display:block; position:absolute; left:0; width:100%; height:2px; border-radius:2px; background-color:#fff; transition:all 0.5s cubic-bezier(.76,0,.4,1); -webkit-transition:all 0.5s cubic-bezier(.76,0,.4,1);}
.gnb-wrap .top .btn-close .line-01 {top:0; /*transform:matrix(0.7, 0.7, -0.6, 0.7, 0, 7); -webkit-transform:matrix(0.7, 0.7, -0.6, 0.7, 0, 7);*/ transform:skewY(44deg) translateY(8px);}
.gnb-wrap .top .btn-close .line-02 {bottom:0; /*transform:matrix(0.7, -0.7, 0.6, 0.7, 0, -7); -webkit-transform:matrix(0.7, -0.7, 0.6, 0.7, 0, -7);*/ transform:skewY(-44deg) translateY(-8px);}
.gnb-wrap .top .global-menu {right:20px;}
.gnb-wrap .top .global-menu li {margin-left:0;}
.gnb-wrap .top .global-menu li a {padding:0; border-color:transparent; color:rgba(255,255,255,0.7);}
.gnb-wrap .top .global-menu li + li a:before {content:''; display:inline-block; width:1px; height:12px; margin:-3px 10px 0 9px; background:#fff; opacity:0.4; vertical-align:middle;}
.gnb-wrap .menu {}
.gnb-wrap .menu > li {border-bottom:1px solid #e6e6e6;}
.gnb-wrap .menu > li > a {position:relative; display:block; height:54px; padding-left:21px; font-size:1.143rem; font-weight:bold; line-height:54px; box-sizing:border-box; -webkit-transition: color 0.5s ease-out; transition: color 0.5s ease-out;}
.gnb-wrap .menu .arrow {position:absolute; top:50%; right:15px; width:15px; height:8px; margin-top:-4px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease; -webkit-transform: rotate(-90deg); transform: rotate(-90deg);}
.gnb-wrap .menu .arrow:before {content:''; position:absolute; top:-1px; left:4px; display:block; width:1px; height:10px; border-radius:2px; background:#999; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-transition: background 0.5s ease-out; transition: background 0.5s ease-out;}
.gnb-wrap .menu .arrow:after {content:''; position:absolute; top:-1px; right:3px; display:block; width:1px; height:10px; border-radius:2px; background:#999; -webkit-transform: rotate(45deg); transform: rotate(45deg); -webkit-transition: background 0.5s ease-out; transition: background 0.5s ease-out;}
.gnb-wrap .menu > li.actived .arrow {-webkit-transform: rotate(-180deg); transform: rotate(-180deg);}
.gnb-wrap .menu > li.actived .arrow:before {background:#b10a11;}
.gnb-wrap .menu > li.actived .arrow:after {background:#b10a11;}
.gnb-wrap .depth {display:none; border-top:1px solid #e6e6e6; background-color:#f8f8f8}
.gnb-wrap .depth > ul {padding:7px 30px;}
.gnb-wrap .depth > ul > li {display:flex; align-items:center;}
.gnb-wrap .depth > ul > li > a{display:block; color:#222; font-size:1rem; line-height:40px;}
.gnb-wrap .depth > ul > li .icon {margin:-1px 0 0 8px;}

.gnb-wrap .banner {padding:15px;}
.gnb-wrap.actived {transform:translateX(0); transition:all 0.75s cubic-bezier(.75,0,0.1,1); -webkit-transition:all 0.75s cubic-bezier(.75,0,0.1,1);}
.gnb-wrap.actived + .header-wrap .btn-gnb span {width:0;}

.global-menu {position:absolute; top:15px; right:15px; text-align:right; font-size:0;}
.global-menu li {display:inline-block; margin-left:5px;}
.global-menu li a {display:block; height:24px; line-height:24px; padding:0 10px; color:#fff; font-size:0.857rem; border:2px solid #fff; transition:all 0.3s ease;}


/* dBody */
#dBody {position:relative; margin-top:56px; overflow:hidden;}
.main #dBody {margin-top:0; padding-bottom:0; background-color:rgba(0,0,0,0.9);}

/* contents */
#contents {position:relative; margin:0 auto;}
.main #contents {padding:56px 0 70px; margin:0 auto;}

/* dFoot */
#dFoot {position:relative; background-color:#232323; z-index:5;}
#dFoot .btn-top {position:absolute; top:-40px; right:0; display:block; width:40px; height:40px; z-index:10;}



.footer-wrap {position:relative; padding:25px 15px 25px; color:#fff; text-align:center;}
.footer-wrap address {margin-top:20px; font-size:0.857rem; letter-spacing:-0.021em; opacity:0.3;}
.footer-wrap .copy {margin-top:2px; font-size:0.714rem;opacity:0.3;}
.footer-wrap .btns {margin-top:20px; overflow:hidden;}
.footer-wrap .btns > a {display:block; float:left; width:88px; height:28px; margin-left:10px; border:1px solid #4f4f4f; text-align:center;}
.footer-wrap .btns > a:first-child {margin-left:0;}
.footer-wrap .btns > a > span {color:#fff; font-size:12px; line-height:28px; opacity:0.5;}
.footer-wrap .tel {margin:20px -15px 0 -15px; padding-top:20px; border-top:1px solid #4b4b4b}
.footer-wrap .tel > span {display:block; color:#fff;}
.footer-wrap .home-number {font-size:0.929rem; line-height:1; opacity:0.8;}
.footer-wrap .home-number em {margin-left:10px; font-weight:500; vertical-align:initial;}
.footer-wrap .time-number {padding:13px 0; font-size:0.857rem; line-height:1.143rem; opacity:0.3;}
.footer-wrap .key-number {font-size:0.929rem; line-height:1; opacity:0.6;}
.footer-wrap .key-number em {margin-left:8px; font-weight:500; vertical-align:initial;}

.footer-wrap .delivery-number {margin-top:15px; font-size:0.929rem; line-height:1; opacity:0.6;}
.footer-wrap .delivery-number em {margin-left:3px; font-weight:500; vertical-align:initial;}

.footer-wrap .family-site {position:relative; width:130px; margin:20px auto 0 auto;}
.footer-wrap .family-site select {width:130px; height:30px; min-width:125px; padding:5px 40px 5px 14px; border: 1px solid #4f4f4f; color:#8b8b8b; background:#232323; font-size:12px; background-image: url('../../images/util/icon_footer_select_arrow.png'); background-position:right 15px center; background-repeat:no-repeat;}

.footer-wrap .family-site .family-site-title {position:relative; z-index:2; width:130px; height:30px; min-width:125px; line-height:29px; padding:0 40px 0 14px; box-sizing:border-box; border: 1px solid #4f4f4f; color:#8b8b8b; background:#232323; font-size:12px; background-image: url('../../images/util/icon_footer_select_arrow.png'); background-position:right 15px center; background-repeat:no-repeat;}
.footer-wrap .family-site .family-site-lest {display:none; position:absolute; top:30px; left:0; z-index:1;}
.footer-wrap .family-site.active .family-site-lest {}
.footer-wrap .family-site .family-site-lest > ul {margin-top:-1px; border: 1px solid #4f4f4f; background:#232323; box-sizing:border-box;}
.footer-wrap .family-site .family-site-lest > ul > li {width:128px; height:30px; min-width:125px; line-height:29px; text-align:left; box-sizing:border-box;}
.footer-wrap .family-site .family-site-lest > ul > li a {display:block; padding:0 10px 0 15px; color:#8b8b8b; font-size:12px;}

.speed-big-menu {height:60px; background-color:#fff; overflow:hidden;}
.speed-big-menu li {float:left; width:33.3%; height:60px; background-color:#303030;}
.speed-big-menu li:first-child {width:33.4%;}
.speed-big-menu li a {position:relative; display:block; color:#fff; font-family:'Akrobat'; text-align:center; background-repeat:no-repeat; background-position:center center; background-size:cover; box-sizing: border-box;}
.speed-big-menu li + li a:before {content:''; display:block; position:absolute; top:50%; left:0; width:1px; height:30px; margin-top:-8px; background-color:#fff; opacity:0.2;}
.speed-big-menu li a span {display:block;}
.speed-big-menu li a span.title {margin-top:-5px; line-height:60px;}
.speed-big-menu li a span.title br {display:none;}
.speed-big-menu li a span.icon {display:none;}
.speed-big-menu li a span.txt {margin-top:-22px; font-size:0.563rem; opacity:0.3;}
.speed-big-menu li a span.txt br {display:none;}
.speed-big-menu .icon {position:absolute; top:50px; -webkit-transition: top 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275); transition: top 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275);}
.main .speed-big-menu .arrow {position:absolute; bottom:15px; left:20px; width:20px; height:3px; background:url('../../images/common/speed_menu_arrow.png') left top no-repeat;background-size:20px auto;}
.main .speed-big-menu {position:relative; top:0; height:208px; margin:0 0 0 -10px; padding:20px 15px; background-color:#fff; box-sizing:border-box;}
.main .speed-big-menu li {width:50%; height:auto; background-color:#fff0;}
.main .speed-big-menu li a {height:79px; margin-left:10px; margin-bottom:10px; padding:15px 20px 0; font-size:1.143rem; text-align:left; box-sizing:border-box;}
.main .speed-big-menu li a span.title {line-height:1.286rem;}
.main .speed-big-menu li a span.title br {display:block;}
.main .speed-big-menu li a span.txt {line-height:12px; margin-top:5px; font-size:0.625rem; font-family:'roboto'; opacity:1;}
.main .speed-big-menu li a span.txt br {display:block;}
.main .speed-big-menu li a span.icon {display:block;}
.main .speed-big-menu .menu-02 a {background:#907354;}
.main .speed-big-menu .menu-03 a {background:#434343;}
.main .speed-big-menu .menu-04 {clear:both; width:100%;}
.main .speed-big-menu .menu-04 a {background:#c30606;}
.main .speed-big-menu .menu-02 .icon {top:50%;right:25px;margin-top:-13px;}
.main .speed-big-menu .menu-03 .icon {top:50%;right:22px;margin-top:-17px;}
.main .speed-big-menu .menu-04 .icon {bottom:0;right:auto;left:50%;top:auto;padding-left:10px;}
.main .speed-big-menu .menu-02 .icon img{width:34px;}
.main .speed-big-menu .menu-03 .icon img{width:34px;}
.main .speed-big-menu .menu-04 .icon img{width:115px;}

.footer-menu {margin:0 -15px; overflow:hidden;}
.footer-menu li {float:left; width:50%; padding:5px; box-sizing:border-box;}
.footer-menu li a {display:block; height:44px; line-height:44px; color:rgba(255,255,255,0.8); font-size:1rem; border:1px solid #4b4b4b;}
.footer-menu > p {display:block; margin-top:10px; font-size:0;}
.footer-menu > p:first-child {margin-top:0;}
.footer-menu > p > a {position:relative; display:inline-block; padding:0 10px; color:rgba(255,255,255,0.8); font-size:0.786rem;}
.footer-menu > p > a:after {content:''; position:absolute; top:50%; left:0; display:block; width:1px; height:12px; margin-top:-6px; background:#666;}
.footer-menu > p > a:first-child:after {display:none;}

.familysite_logos{display:none; padding:0 15px; background:#fff;}
.familysite_logos ul{padding:10px 0; font-size:0; background:#fff;}
.familysite_logos ul li{display:inline-block; position:relative; width:33.3333%; padding:5px 0; text-align:center; box-sizing:border-box;}
.familysite_logos ul li img{max-width:100%; height:28px;}
.familysite_logos ul li:nth-child(2):before,
.familysite_logos ul li:nth-child(5):before,
.familysite_logos ul li:nth-child(2):after,
.familysite_logos ul li:nth-child(5):after{content:''; position:absolute; top:50%; display:block; width:1px; height:18px; background:#e4e4e4; -webkit-transform: translateY(-50%);transform: translateY(-50%);}
.familysite_logos ul li:before{left:0;}
.familysite_logos ul li:after{right:0;}
.main .familysite_logos {display:block;}
.main .familysite_logos ul{border-top:1px solid #e5e5e5;}

.footer-wrap .footer-text {position:relative; margin-top:20px; font-size:13px;}
.footer-wrap .footer-text > p {line-height:24px; opacity:0.3;}
.footer-wrap .footer-text > p span:last-child {position:relative; padding:0 5px;}
.footer-wrap .footer-text > p span:last-child:after {content:''; position:absolute; top:50%; left:0; display:block; width:1px; height:12px; margin-top:-6px; background-color:#fff; opacity:0.2;}
.footer-wrap .footer-text .footer-text-box {display:flex; justify-content:center;}
.footer-wrap .footer-text .footer-text-box > p {opacity:0.3;}
.footer-wrap .footer-text .footer-text-box > a {margin-left:10px; border-bottom:1px solid #fff;opacity:0.6;}
.footer-wrap .footer-text .copy {margin-top:5px; font-size:12px; line-height:20px;}


/* ===========================
	02. table
=========================== */
/* text-border-list */
table.text-border-list {width:100%; border-top:1px solid #222; border-bottom:1px solid #dcdcdc; background:#fff;  table-layout:fixed;}
table.text-border-list th, 
table.text-border-list td {height:53px; padding:0 10px; border-top:1px solid #eaeaea; vertical-align:middle;}
table.text-border-list tr:first-child th,
table.text-border-list tr:first-child td {border-top:0 none;}
table.text-border-list .no {padding-left:0; padding-right:0; color:#666; font-size:0.857rem; text-align:center;}
table.text-border-list .no .icon {width:100%; vertical-align:middle;}

/* simple-row-list */
table.simple-row-list {width:100%; border-top:1px solid #222; border-bottom:1px solid #dcdcdc;  table-layout:fixed;}
table.simple-row-list > tbody > tr:first-child td,
table.simple-row-list > tbody > tr:first-child th{border-top:none;}
table.simple-row-list > tbody > tr > th {padding:16px 0; color:#222; font-size:1rem; line-height:1.357rem; font-weight:400; border-top:1px solid #eaeaea; text-align:left; vertical-align:top;}
table.simple-row-list > tbody > tr > td {padding:16px 0; color:#666; font-size:1rem; line-height:1.357rem; border-top:1px solid #eaeaea; vertical-align:top;}
/*table.simple-row-list .arrow-title {display:inline-block; color:#222; padding-right:16px; background:url('../../images/icon/ico_point_list_arrow.png') right center no-repeat; background-size:7px auto;}*/
table.simple-row-list .arrow-title {display:inline-block; color:#222;}
table.simple-row-list .line-title {position:relative;}
table.simple-row-list .line-title:after {content:''; position:absolute; top:5px; right:0; width:1px; height:12px; background-color:#e6e6e6;}

/* data-info-table */
table.data-info-table {width:100%; background:#fff;  table-layout:fixed;}
table.data-info-table > thead > tr > th {height:50px; font-size:1rem; font-weight:bold; border:1px solid #eaeaea; border-top-color:#222; background:#fafafa; text-align:center; vertical-align:middle;}
table.data-info-table > tbody > tr > td {padding:15px 10px; color:#666; font-size:1rem; line-height:1.357rem; border:1px solid #eaeaea; text-align:center; vertical-align:middle;}
table.data-info-table th:first-child,
table.data-info-table td:first-child{border-left:none;}
table.data-info-table th:last-child,
table.data-info-table td:last-child{border-right:none;}
table.data-info-table.type-02 > tbody > tr > td {padding:15px 20px;}

/* data-info-table > vertical */
table.data-info-table.vertical > tbody > tr > th {padding:16px 10px; font-size:14px; line-height:21px; text-align:center; color:#222; font-weight:600; background-color:#fafafa; border-top:1px solid #eaeaea;}
table.data-info-table.vertical > tbody > tr > td {padding:16px 20px; font-size:14px; text-align:left; line-height:21px; color:#646464; border-top:1px solid #eaeaea; vertical-align:middle;}
table.data-info-table.vertical > tbody > tr:nth-of-type(1) > th,
table.data-info-table.vertical > tbody > tr:nth-of-type(1) > td {border-top:1px solid #222;}
table.data-info-table.vertical > tbody > tr:last-child > th,
table.data-info-table.vertical > tbody > tr:last-child > td {border-bottom:1px solid #222;}

/* info table */
table.info-table {width:100%; border-top:1px solid #222; border-bottom:1px solid #222; background:#fff;  table-layout:fixed;}
table.info-table > thead > tr > th {height:38px; color:#222; font-size:0.625rem; line-height:0.938rem; border:1px solid #eaeaea; font-weight:700; background-color:#f9f9f9; border-top:none; text-align:center; vertical-align:middle;}
table.info-table > tbody > tr > td {padding:7px 0px; color:#222; font-size:0.625rem; line-height:0.938rem; border:1px solid #eaeaea; text-align:center; vertical-align:middle; word-break:keep-all;}
table.info-table > tbody > tr > td.al-l {padding:7px 7px;}
table.info-table > tbody > tr > td:first-child {border-left:none;}
table.info-table > tbody > tr > td:last-child {border-right:none;}
table.info-table > tbody > tr > td[rowspan],
table.info-table > tbody > tr:last-child > td {border-bottom:none;}
table.info-table > tbody > tr {border-bottom:1px solid #222;}

/* input table */
table.input-table {width:100%; border-top:1px solid #222; border-bottom:1px solid #c8c8c8; background:#fff; table-layout:fixed;}
table.input-table > tbody > tr > th {height:70px; padding:0 30px; color:#222; font-size:16px; line-height:20px; vertical-align:middle; border-top:1px solid #dcdcdc; background-color:#f9f9f9; text-align:left;}
table.input-table > tbody > tr > td {height:44px; padding:13px 30px; font-size:16px; line-height:20px; border-top:1px solid #dcdcdc; background-color:#fff; text-align:left; vertical-align:middle;}
table.input-table > tbody > tr:first-child > th,
table.input-table > tbody > tr:first-child > td {border-top:none;}


/* ===========================
	03. button
=========================== */
.btn-page-wrap {margin-top:25px; text-align:center;}
.btn-page-wrap > * + * {margin-top:10px;}

.btn-mulity {margin-top:25px; text-align:center;}
.btn-mulity > * + * {margin-left:10px;}

.flex-box {display:flex; align-items:center;}
.flex-box > * {position:relative; flex:none;}
.flex-box > * + * {margin-left:7px;}
.flex-box > input[type=hidden] + *{margin-left:0;}
.flex-box .flex {flex:1;}

.btn-content-wrap {}
.btn-content-wrap > ul {margin:-2.5px;}
.btn-content-wrap > ul:after {content:''; display:block; clear:both;}
.btn-content-wrap > ul > li {float:left; width:50%; box-sizing:border-box; padding:2.5px;}
.btn-content-wrap > ul > li > a,
.btn-content-wrap > ul > li > button {display:block; width:auto;}
.btn-content-wrap > ul > li:only-child {width:100%;}

.address-simple-info + .btn-content-wrap {margin-top:20px;}
.simple-row-list + .btn-content-wrap {margin-top:20px;}

.btn-form {width:110px !important; margin-left:10px !important;}

.btn-col-wrap {}
.btn-col-wrap > a {margin-top:10px;}
.btn-col-wrap > a:first-child {margin-top:0;}

.btn-pop-cancel {margin-top:30px;}

.btn-flex-container {display:flex}

/* big button (height 45px) */
.btn-01 {display:inline-block; width:100%; height:45px; line-height:45px; font-size:1.143rem; text-align:center; box-sizing:border-box;}
.btn-01.type-01 {color:#fff; border:1px solid #cb0000; background-color:#cb0000;}
.btn-01.type-02 {color:#fff; border:1px solid #282828; background-color:#282828;}
.btn-01.type-03 {color:#fff; border:1px solid #8f8f8f; background-color:#8f8f8f;}
.btn-01.type-04 {color:#222; border:1px solid #999; background-color:#fff;}
.btn-01.type-05 {color:#fff; border:1px solid #af9375; background-color:#af9375;}

/* middle button (height 37px) */
.btn-02 {display:inline-block; width:100%; height:37px; line-height:37px; text-align:center; box-sizing:border-box;}
.btn-02.type-01 {color:#fff; border:1px solid #cc0001; background-color:#cc0001;}
.btn-02.type-02 {color:#fff; border:1px solid #282828; background-color:#282828;}
.btn-02.type-03 {color:#222; border:1px solid #999; background-color:#fff;}
.btn-02.type-04 {color:#666; border:1px solid #dedede; background-color:#fff;}
.btn-02.type-05 {color:#fff; border:1px solid #8f8f8f; background-color:#8f8f8f;}
.btn-02.type-06 {color:#fff; border:1px solid #af9375; background-color:#af9375;}


/* paging */
.paging {position:relative; margin-top:25px; font-size:0; text-align:center; vertical-align:top;}
.paging > a {position:absolute; top:0; display:inline-block; width:22px; height:37px; margin:0 0 0 -1px; font-size:0; background-position:center center; background-size:auto 12px; background-repeat:no-repeat; overflow:hidden; text-indent:-9999px; vertical-align:top;}
.paging > a.btn-first {left:0; background-image:url('../../images/util/ico_paging_first.png');}
.paging > a.btn-prev {left:35px; background-image:url('../../images/util/ico_paging_prev.png');}
.paging > a.btn-next {right:35px; background-image:url('../../images/util/ico_paging_next.png');}
.paging > a.btn-last {right:0; background-image:url('../../images/util/ico_paging_last.png');}
.paging > p {display:inline-block; padding:0 20px; overflow:hidden; vertical-align:top;}
.paging > p a,
.paging > p strong {float:left;display:block; width:39px; height:37px; margin-left:-1px; line-height:37px; color:#666; font-size:1rem; border:1px solid #dedede; text-align:center; vertical-align:top;}
.paging > p > strong {position:relative; margin-left:-1px; color:#fff; border:1px solid #222; background:#222;}

/* tab */
.page-tab-wrap {margin:20px 15px;}
.page-tab {position:relative; display:table; width:100%; padding-left:1px; table-layout:fixed; box-sizing:border-box; z-index:10;}
.page-tab > li {display:table-cell; vertical-align:top;}
.page-tab > li > a {position:relative; display:block; height:45px; margin:0 0 0 -1px; color:#222; font-size:1.143rem; font-weight:400; line-height:45px; letter-spacing:-0.9px; border:1px solid #dedede; background:#fff; text-align:center; box-sizing:border-box;}
.page-tab > li.active a {color:#fff; border-color:#cb0000; background-color:#cb0000; z-index:1}

.page-tab-area {margin:20px 0; padding:0 15px; box-sizing:border-box; background:#fff;}
.page-tab-area .tab-list-wrap {position:relative; display:table; width:100%; padding-left:1px; table-layout:fixed; box-sizing:border-box; z-index:10;}
.page-tab-area .tab-list-wrap > li {display:table-cell; vertical-align:top;}
.page-tab-area .tab-list-wrap > li > a {position:relative; display: flex; align-items: center; justify-content: center; height:45px; margin:0 0 0 -1px; color:#222; font-size:0.875rem; font-weight:400; line-height:16px; letter-spacing:-0.9px; border:1px solid #dedede; background:#fff; text-align:center; box-sizing:border-box;}
.page-tab-area .tab-list-wrap > li.active a {color:#cc0001; border-top:1px solid #cc0001; background-color:#fef4f3; z-index:1}
.page-tab-area .tab-list-wrap > li.active a:before,
.page-tab-area .tab-list-wrap > li.active button:before {content:''; position:absolute; top:0; left:-1px; right:-1px; display:block; width:auto; height:2px; background-color:#cc0001;}
.page-tab-area .pop-tab-content {margin:0 -15px;}

/* ===========================
	04. pop
=========================== */
.layer-pop-wrap {position:fixed; top:100%; left:0; width:100%; height:100%; z-index:100; transition:all 0.75s cubic-bezier(.75,0,0.1,1); -webkit-transition:all 0.75s cubic-bezier(.75,0,0.1,1);}
.layer-pop-wrap.open {top:0;}
.layer-pop-wrap.type-02 {background:rgba(0,0,0,0.8); visibility:hidden; opacity:0; transition:opacity 0.45s 0s, visibility 0s 0.45s, top 0s 0.45s ease-out; -webkit-transition:opacity 0.45s 0s, visibility 0s 0.45s, top 0s 0.45s ease-out;}
.layer-pop-wrap.type-02.open {top:0; visibility:visible; opacity:1; transition:opacity 0.45s 0s, visibility 0s 0s ease-out; -webkit-transition:opacity 0.45s 0s, visibility 0s 0s ease-out;}
.layer-pop-parent {position:absolute; top:0; right:0; bottom:0; left:0; width:auto; height:auto; margin:56px 0 0 0; background:#fafafa; overflow-y:auto; -webkit-overflow-scrolling: touch;}
.layer-pop-parent > h2 {height:50px; color:#fff; font-size:1.143rem; line-height:50px; border-top:1px solid #333; background-color:#464646; text-align:center;}
.layer-pop-parent.type-02 {background-color:#fff;}
.layer-pop-parent .btn-pop-wrap {margin:30px 0 0 0;}
.layer-pop-parent .btn-pop-wrap.type-01 {margin-top:25px;}
.layer-pop-parent .btn-pop-wrap.type-02 {margin-top:30px;}
.layer-pop-parent .btn-pop-wrap.type-03 {margin-top:10px;}
.layer-pop-parent .btn-pop-close {position:absolute; top:11px; right:15px; display:block; width:27px; height:27px; border:1px solid rgba(255,255,255,0.4); background:url('../../images/util/btn-pop-close.png') left top no-repeat; background-size:27px auto;}
.layer-pop-parent .default-cell {padding:25px 15px 30px 15px;}
.layer-pop-parent .btn-prev-page {display:block; position:absolute; top:18px; left:15px; width:23px; height:10px; background:url('../../images/icon/ico_arrow_01.png') 0 0 no-repeat; background-size:23px auto; text-indent:-9999px; font-size:0;}

.alert-confirm-wrap {margin:0 25px; background:#fff; text-align:center;}
.alert-confirm-data {padding:20px 10px 23px 10px;}
.alert-confirm-data h3 {color:#222; font-size:1.143rem; line-height:1.714rem; font-weight:700;}
.alert-confirm-data .card-price {margin-top:18px; color:#cc0001; font-size:1.143rem; line-height:1.286rem;}
.alert-confirm-data .card-price em {font-weight:700;}
.alert-confirm-data .info {margin-top:20px; color:#666; font-size:0.857rem; line-height:1.214rem;}

.btns-confirm-pop {border-top:1px solid #dcdcdc; overflow:hidden;}
.btns-confirm-pop > li {float:left; width:50%;}
.btns-confirm-pop > li > a {display:block; height:45px; color:#323232; font-size:1.143rem; line-height:45px; text-align:center; border-left:1px solid #dcdcdc;}
.btns-confirm-pop > li:first-child > a {border-left:none;}
.btns-confirm-pop.single > li {width:100%;}

.today-close {position:relative; width:100%; height:46px; padding:12px 20px; background:#222; box-sizing:border-box;}
.today-close .chk-type01 input[type=checkbox] + label {color:#fff;}

.common-pop {position:absolute; top:58px !important; left:0 !important; width:100% !important; height:auto !important; padding:0 15px 15px 15px; z-index:999; box-sizing:border-box;}
.common-pop .pop-con {border:1px solid #333; background:#fff; text-align:center;}
.common-pop .today-close {position:relative; width:100%; height:22px; padding:12px 0; box-sizing:content-box;}
.common-pop .today-close > p {display:block; padding:0 15px;}
.common-pop .btn-close {position:absolute; bottom:25px; right:30px; display:block; width:66px; height:26px; margin-top:-13px; color:#fff; font-size:0.857rem; line-height:26px; background-color:#444; text-align:center;}

.main-custom-pop {position:fixed; top:0; left:0; right:0; bottom:0; display:none; width:auto; height:auto; background-color:rgba(0,0,0,0.7); overflow-y:auto; -webkit-overflow-scrolling: touch; z-index:10000;}
.main-custom-pop > div {display:table; width:100%; height:100%; table-layout:fixed;}
.main-custom-pop > div > div {display:table-cell; width:100%; height:100%; padding:0 15px; vertical-align:middle;}
.main-custom-pop .pop-con {position:relative; text-align:center;}
.main-custom-pop .pop-children {padding:30px; background:#fff;}
.main-custom-pop .btn-custom-pop-close {position:absolute; top:10px; right:10px; display:block; font-size:0; width:29px; height:29px; background:url('../../images/util/btn_main_pop_close.png') center center no-repeat; background-size:27px auto; border:1px solid #dfdfdf;}
.main-custom-pop .btn-flex-container button {font-size:1.067rem; height:50px; line-height:50px;}

.marketing-user-send h2 {margin-top:-4px;}
.marketing-user-send .info {margin-top:25px; font-size:0.800rem; line-height:1.133rem;}
.marketing-user-send .user-check-form {margin-top:22px; text-align:left;}
.marketing-user-send .user-check-form h3 {margin-bottom:9px; font-size:1.000rem; line-height:1.400rem; font-weight:500; text-align:center;}
.marketing-user-send .user-check-form ul {border-top:1px solid #333;}
.marketing-user-send .user-check-form ul > li {position:relative; height:37px; padding:0 12px; border-bottom:1px solid #dfdfdf;}
.marketing-user-send .user-check-form ul > li > span {display:block; font-size:0.800rem; line-height:37px; color:#666;}
.marketing-user-send .user-check-form .chk-type01 {position:absolute; top:0; right:0; width:38px; height:37px;}
.marketing-user-send .user-check-form .chk-type01 input[type=checkbox] {z-index:100;}
.marketing-user-send .user-check-form .chk-type01 input[type=checkbox] + label span {position:absolute; top:50%; left:50%; width:14px; height:14px; margin:-7px 0 0 -7px; background-size:7px auto;}
.marketing-user-send .btns-save{max-width:160px; margin:25px auto 0 auto;}
.marketing-user-send .week-close {padding:10px 26px; background-color:#f4f4f4; text-align:right;}
.marketing-user-send .week-close .chk-type01 {margin-right:0;}
.marketing-user-send .week-close .chk-type01 input[type=checkbox] + label {font-size:0.800rem; color:#999;} 
.marketing-user-send .week-close .chk-type01 input[type=checkbox] + label span {width:14px; height:14px; margin:3px 5px 3px 0; background-size:7px auto;}
.marketing-user-send .week-close .chk-type01 input[type=checkbox]:checked + label span {background-image:url('../../images/icon/ico_chk01_gray.png'); background-position:center center;}


/* ===========================
	05. font 
=========================== */
.fc01 {color:#b10a11 !important;}
.fc02 {color:#93785b !important;}
.fc03 {color:#222 !important;}
.fc04 {color:#666 !important;}
.fc05 {color:#999 !important;}
.fc06 {color:#cb0000 !important;}
.fc07 {color:#F6C05E !important;}

.fw-n {font-weight:normal;}
.fw-b {font-weight:bold;}

.akrobat {font-family:'Akrobat', verdana, sans-serif;}



/* ===========================
	06. icon
=========================== */
/*.icon-winner {display:inline-block; width:108px; height:35px; color:#fff; font-size:14px; line-height:35px; background-color:#907354; text-align:center;}*/
/*.icon-progress {display:inline-block; width:78px; height:35px; color:#fff; font-size:14px; line-height:35px; background-color:#cb0000; text-align:center;}*/
.icon-notice {display:inline-block; width:58px; height:18px; line-height:18px; color:#cb0000; font-size:0.714rem; border:1px solid #cb0000; text-align:center; background:#fff; box-sizing:border-box;}
/*.icon-map {display:inline-block; height:26px; padding:0 10px; color:#222; font-size:14px; line-height:24px; border:1px solid #848484; border-radius:2px; background-color:#f4f4f4;}*/
.icon-new {display:inline-block; width:46px; height:18px; color:#fff; font-size:0.714rem; line-height:18px; font-weight:400; border-radius:0; background-color:#54aa20; text-align:center;}
.icon-all {display:inline-block; width:46px; height:18px; color:#fff; font-size:0.714rem; line-height:18px; font-weight:400; border-radius:0; background-color:#94785c; text-align:center;}

.icon-red {display:inline-block; width:46px; height:18px; color:#fff; font-size:0.714rem; line-height:18px; font-weight:500; border:1px solid #cb0000; background-color:#cb0000; text-align:center;}
.icon-black {display:inline-block; width:46px; height:18px; color:#fff; font-size:0.714rem; line-height:18px; font-weight:500; border:1px solid #000; background-color:#000; text-align:center;}

/*.p-icon {position:absolute; top:20px; right:20px;}*/

.icon-point {display:inline-block; width:15px; height:15px; line-height:15px; color:#fff; font-size:0.714rem; font-weight:bold; background:#b10a11; border-radius:50%; text-align:center; box-sizing:border-box; vertical-align:middle;}
.icon-tip,
a.icon-tip{display:inline-block; width:19px; height:19px; line-height:17px; color:#fff; font-size:0.857rem; font-family:'roboto'; font-weight:500; background:#222; border:1px solid #a1a1a1; border-radius:50%; text-align:center; box-sizing:border-box; vertical-align:middle;}

.icon-coupon-type01 {display:inline-block; width:58px; height:18px; line-height:18px; color:#cb0000; font-size:0.714rem; font-weight:normal; text-align:center; border:1px solid #cb0000; background:#fff; box-sizing:border-box;}
.icon-coupon-type02 {display:inline-block; width:58px; height:18px; line-height:18px; color:#94785c; font-size:0.714rem; font-weight:normal; text-align:center; border:1px solid #94785c; background:#fff; box-sizing:border-box;}
.icon-coupon-type03 {display:inline-block; width:58px; height:18px; line-height:18px; color:#222; font-size:0.714rem; font-weight:normal; text-align:center; border:1px solid #222; background:#fff; box-sizing:border-box;}
.icon-coupon-type04 {display:inline-block; width:58px; height:18px; line-height:18px; color:#999; font-size:0.714rem; font-weight:normal; text-align:center; border:1px solid #999999; background:#fff; box-sizing:border-box;}

.icon-int-pass {margin-top:10px; display:inline-block; line-height:1;}
.icon-int-pass > span {position:relative; padding-left:19px; font-size:0.857rem; line-height:1rem;}
.icon-int-pass > span:after {content:''; position:absolute; top:50%; left:0; display:block; width:12px; height:12px; margin-top:-7px; border:1px solid #a1a1a1; border-radius:50%; background:url('../../images/icon/ico_info.png') center center no-repeat; background-size:2px auto;}

.input-pass-check {margin-top:10px; overflow:hidden;}
.input-pass-check > p:first-child {float:left; margin:0;}
.input-pass-check > p:last-child {float:right; margin:0;}

.pw-fail {font-size:0.857rem; line-height:1rem;}

.icon-timer {display:inline-block; line-height:1;}
.icon-timer > span {position:relative; padding-left:19px; color:#999; font-size:0.857rem; line-height:1rem;}
.icon-timer > span > em {color:#666;}
.icon-timer > span:after {content:''; position:absolute; top:50%; left:0; display:block; width:12px; height:12px; margin-top:-7px; border:1px solid #a1a1a1; border-radius:50%; background:url('../../images/icon/icon_timer_clock.png') center center no-repeat; background-size:12px auto;}

.icon {display:inline-block; background-repeat:no-repeat; background-position:center center; background-size:100% 100%;}
.ico-hit {width:24px; height:13px; background-image:url('../../images/icon/ico_menu_hit.png');}
.ico-best {width:28px; height:12px; background-image:url('../../images/icon/ico_menu_best.png');}
.ico-new {width:26px; height:12px; background-image:url('../../images/icon/ico_menu_new.png');}

/* loading bar */
#loading {position:fixed; top:0; left:100%; width:100%; height:100%; display:table; table-layout:fixed; background-color:rgba(0,0,0,0.7); z-index:50000000;}
#loading.open {left:0;}
#loading > div {display:table-cell; width:100%; height:100%; vertical-align:middle; }
.sk-circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative; }
  .sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
            animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }
  .sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }



@media screen and (max-width:375px){
	.footer-menu > p > a {padding:0 5px;}
}

